* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-links a {
    color: #ebe7eb;
    font-size: 18px;
    text-decoration: none;
}