@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Vazirmatn", sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    gap: 500px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-links a {
    color: #ebe7eb;
    font-size: 18px;
    text-decoration: none;
}

.about-container {
    background-color: #1f2937;
    color: #ebe7eb;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 90px 0 90px;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    direction: rtl;
    max-width: 600px;
}

.sign-up-button,
.button-border {
    width: 100px;
    padding: 2px 15px;
    background-color: #3883f6;
    color: #ebe7eb;
    border-radius: 5px;
    border: none;
}

.why-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.items-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.items-container div {
    border: solid 5px #3883f6;
    border-radius: 5px;
    width: 150px;
    height: 220px;
    text-align: center;
}

.why-container-paragraph {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 35px;
}

.items-container div img {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    display: block;
}

.quote-container {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebe7eb;
    padding: 80px 0 80px;
}

.quote {
    max-width: 650px;
    color: #1f2937;
    font-size: 22px;
}

.quote-from {
    text-align: left;
    width: 650px;
    margin-left: 15px;
}

.sign-up-container {
    direction: rtl;
    display: flex;
    justify-content: center;
    padding: 80px 0 80px;
}

.sign-up {
    display: flex;
    background-color: #3883f6;
    width: 850px;
    height: 90px;
    border-radius: 5px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.button-border {
    border: solid 2px white;
}

.sign-up-text-container {
    color: #ebe7eb;
}

.footer {
    height: 60px;
    background-color: #1f2937;
    color: #ebe7eb;
    text-align: center;
    padding-top: 20px;
}
